{% extends 'base.html.twig' %}
 {% block data%}

 <div class="container top-margin">

 <div class="jumbotron">
        <h2 class="text-left"><b>{{name}} :</b></h2>
        <h4 class="text-left display-3">{{definition}}</h4>
        <br>


        <div class="btn-group btn-group-justified">
                <a onclick="myFunction1()" class="btn btn-primary">Entrantes/Sortantes</a>
                
                {% if results['relationsEntrantes'] is not empty %}
                <a onclick="myFunction2()" class="btn btn-primary">RelEntrante</a>
                {% endif %}

                {% if results['relationsSortantes'] is not empty %}
                <a onclick="myFunction3()" class="btn btn-primary">RelSortante</a>
                {% endif %}

                <a onclick="myFunction4()" class="btn btn-primary">Tri</a>
              </div>



        <br>
        <form action="/node/get" >

            <div class="form-group">
                <input name="urlencodedterm" class="form-control" value = "{{name}}" type="hidden"  required="required" ></input>
            </div>

              <div style="display:none " id="RelinReloutDiv">

                    <div>
                        <p style="margin-left: 20px">Les Relations .</p>
                    </div>
                    <div>
                        <select style="margin-left: 20px" multiple id="RelinRelout" name="rel[]" >
                            <option value="1">Relations Entrantes</option>
                            <option value="0">Relations Sortantes</option>
                        </select>
                    </div>
                    <br>

                </div> 

                {% if results['relationsSortantes'] is not empty %}

    <div style="display: none " id="RelSortantesDiv">

            <p style="margin-left: 20px">Les Relations sortantes.</p>
            <select style="margin-left: 20px " multiple id="RelSortantes" name="type_rel_out[]">
              {% for i in 0..((results['relationsSortantes']|length)-1)  %}
                <option value="{{ results['relationsSortantes'][i][0]['id_type_rel'] }} " >{{ results['relationsSortantes'][i][0]['type_name'] }} </option>
                  {% endfor %}
            </select>

        </div>
        {% endif %}


    <div style="display: none " id="SortWeightDiv">

        <p style="margin-left: 20px">Filtrage par poids</p>
        <select style="margin-left: 20px"  id="SortWeight" name="SortWeight" >
            <option value="1">Poids Ascendant</option>
            <option value="0">Poids Descendant</option>
            <option value="2">Alphabetique</option>

        </select>

    </div>


        {% if results['relationsEntrantes'] is not empty %}

        <div style="display: none" id="RelEntrantesDiv">

                <p style="margin-left: 20px">Les Relations entrantes.</p>
                <select multiple id="RelEntrantes" name="type_rel_in[]">
                  {% for i in 0..((results['relationsEntrantes']|length)-1) %}
                    <option value="{{ results['relationsEntrantes'][i][0]['id_type_rel'] }} " >{{ results['relationsEntrantes'][i][0]['type_name'] }}</option>
                    {% endfor %}
                </select>

                <br>

            </div>

            {% endif %}

            <br>


            <div style="display: none" id="Filtrage">

            <p><button class="btn btn-lg btn-success" type="submit" role="button">Filtrer Votre Recherche</button></p>

           </div>



</form>

 <br>
 <br>
    <!-- Root accordian -->
    <div class="container top-margin">

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          {% if results['relationsEntrantes'] is not empty %}
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTypeRelIn">
                        <h1>Relations entrantes du {{name}}  </h1>
                    </a>
                </h4>
            </div>

            <!-- Here we insert another nested accordion -->
            <div id="collapseTypeRelIn" class="panel-body collapse">
                <div class="panel-inner">

                    <div class="panel-group" id="accordionTypeRelIn">
                        <div class="panel panel-default">
                          {% if(rel_type_in_list != null) %}

                            {% for i in 0..((results['relationsEntrantes']|length)-1) %}
                              {% if results['relationsEntrantes'][i][0]['id_type_rel'] in rel_type_in_list %}
                                <div class="panel-heading">
                                    <div class="panel-title ">
                                        <a class="panel-toggle" data-toggle="collapse" data-parent="#accordionTypeRelIn"
                                            href="#{{ results['relationsEntrantes'][i][0]['id_type_rel'] }}">
                                            <h3>   {{ results['relationsEntrantes'][i][0]['type_name'] }} </h3>
                                        </a>
                                    </div>
                                </div>

                                <!-- Here we insert another nested accordion -->
                                <div id="{{ results['relationsEntrantes'][i][0]['id_type_rel'] }}" class="panel-body collapse">
                                    <div class="panel-inner title-padding">

                                        <div class="panel-group" id="accordion{{results['relationsEntrantes'][i][0]['id_type_rel']}}">
                                            <div class="panel panel-default">
                                              {% for rel in results['relationsEntrantes'][i] %}
                                                <div class="panel">
                                                    <h4 class="panel-title">
                                                        <a  data-parent="#accordion{{rel['id_type_rel']}}"
                                                            href="/node/get?urlencodedterm={{rel['rel_node_name']}}">
                                                            <h4><b>{{rel['rel_node_name']}} : {{rel['rel_node_weight']}} </b></h4>
                                                        </a>
                                                    </h4>
                                                </div>

                                                {% endfor %}

                                            </div>
                                        </div> <!--fin node -->
                                    </div>
                                </div>
                                {% endif %}
                            <!-- Inner accordion ends here -->
                            {% endfor%}
                            {% else %}
                              {% for i in 0..((results['relationsEntrantes']|length)-1) %}
                                  <div class="panel-heading">
                                      <div class="panel-title ">
                                          <a class="panel-toggle" data-toggle="collapse" data-parent="#accordionTypeRelIn"
                                              href="#{{ results['relationsEntrantes'][i][0]['id_type_rel'] }}">
                                              <h3> {{ results['relationsEntrantes'][i][0]['type_name'] }} </h3>
                                          </a>
                                      </div>
                                  </div>

                                <!-- Here we insert another nested accordion -->
                                  <div id="{{ results['relationsEntrantes'][i][0]['id_type_rel'] }}" class="panel-body collapse">
                                      <div class="panel-inner title-padding">

                                          <div class="panel-group" id="accordion{{results['relationsEntrantes'][i][0]['id_type_rel']}}">
                                              <div class="panel panel-default">
                                                {% for rel in results['relationsEntrantes'][i] %}
                                                  <div class="panel">
                                                      <h4 class="panel-title">
                                                          <a  data-parent="#accordion{{rel['id_type_rel']}}"
                                                              href="/node/get?urlencodedterm={{rel['rel_node_name']}}">
                                                              <h4><b>{{rel['rel_node_name']}} : {{rel['rel_node_weight']}} </b></h4>
                                                          </a>
                                                      </h4>
                                                  </div>

                                                  {% endfor %}

                                              </div>
                                          </div> <!--fin node -->
                                      </div>
                                  </div>
                              <!-- Inner accordion ends here -->
                              {% endfor%}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            {% endif%}
            <!-- Inner accordion ends here -->

        </div>
        <!--
            # relations sortantes
            ###
            ###
            ##
            ##
            ##

        -->

        {% if results['relationsSortantes'] is not empty %}
        <div class="panel panel-default">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTypeRelOut">
                        <h1>Relations sortantes du {{name}} </h1>
                    </a>
                </h4>
            </div>

            <!-- Here we insert another nested accordion -->
            <div id="collapseTypeRelOut" class="panel-body collapse">
                <div class="panel-inner">

                    <div class="panel-group" id="accordionTypeRelOut">
                        <div class="panel panel-default">
                          {% if(rel_type_out_list != null) %}

                          {% for i in 0..((results['relationsSortantes']|length)-1) %}
                            {% if results['relationsSortantes'][i][0]['id_type_rel'] in rel_type_out_list %}
                            <div class="panel-heading">
                                <div class="panel-title ">
                                    <a class="panel-toggle" data-toggle="collapse" data-parent="#accordionTypeRelOut"
                                        href="#{{ results['relationsSortantes'][i][0]['id_type_rel'] }}Out">
                                        <h3>{{ results['relationsSortantes'][i][0]['type_name'] }} </h3>
                                    </a>
                                </div>
                            </div>

                            <!-- Here we insert another nested accordion -->
                            <div id="{{ results['relationsSortantes'][i][0]['id_type_rel'] }}Out" class="panel-body collapse">
                                <div class="panel-inner title-padding">

                                    <div class="panel-group" id="accordion{{results['relationsSortantes'][i][0]['id_type_rel']}}Out">
                                        <div class="panel panel-default">
                                          {% for rel in results['relationsSortantes'][i] %}
                                            <div onClick="clicklink();" id = "llink" class="panel">
                                                <h4 class="panel-title">
                                                    <a  data-parent="#accordion{{rel['id_type_rel']}}Out"
                                                        href="/node/get?urlencodedterm={{rel['rel_node_name']}}">
                                                        <h4><b>{{rel['rel_node_name']}} : {{rel['rel_node_weight']}}</b></h4>
                                                    </a>
                                                </h4>
                                            </div>
                                        <!-- Inner accordion ends here -->
                                            {% endfor %}
                                        </div>
                                    </div> <!--fin node -->

                                </div>
                            </div>
                            {% endif %}
                            <!-- Inner accordion ends here -->
                            {% endfor%}
                            {% else %}
                              {% for i in 0..((results['relationsSortantes']|length)-1) %}
                                  <div class="panel-heading">
                                      <div class="panel-title ">
                                          <a class="panel-toggle" data-toggle="collapse" data-parent="#accordionTypeRelOut"
                                              href="#{{ results['relationsSortantes'][i][0]['id_type_rel'] }}Out">
                                              <h3> {{ results['relationsSortantes'][i][0]['type_name'] }} </h3>
                                          </a>
                                      </div>
                                  </div>

                                  <!-- Here we insert another nested accordion -->
                                  <div id="{{ results['relationsSortantes'][i][0]['id_type_rel'] }}Out" class="panel-body collapse">
                                      <div class="panel-inner title-padding">

                                          <div class="panel-group" id="accordion{{results['relationsSortantes'][i][0]['id_type_rel']}}Out">
                                              <div class="panel panel-default">
                                                {% for rel in results['relationsSortantes'][i] %}
                                                  <div onClick="clicklink();" id = "llink" class="panel">
                                                      <h4 class="panel-title">
                                                          <a  data-parent="#accordion{{rel['id_type_rel']}}Out"
                                                              href="/node/get?urlencodedterm={{rel['rel_node_name']}}">
                                                              <h4><b>{{rel['rel_node_name']}} : {{rel['rel_node_weight']}}</b></h4>
                                                          </a>
                                                      </h4>
                                                  </div>
                                              <!-- Inner accordion ends here -->
                                                {% endfor %}
                                              </div>
                                          </div> <!--fin node -->

                                      </div>
                                  </div>
                                <!-- Inner accordion ends here -->
                                {% endfor %}
                                {% endif %}
                        </div>
                    </div>

                </div>
            </div>
            {% endif %}
            <!-- Inner accordion ends here -->

        </div>
    </div>
    <!-- Root accordian ends here -->

</div><!-- /lf-container -->
</div>

</div>


<br>
<br>
<br>

{% endblock%}
